{% extends "errors/base_error.html" %}

{% block error_color %}warning{% endblock %}

{% block error_title %}Forbidden{% endblock %}

{% block error_heading %}403 - Forbidden{% endblock %}

{% block error_message %}
    You don't have permission to access this resource.
{% endblock %}

{% block error_details %}
    <div class="alert alert-warning">
        <h6>Access Denied</h6>
        <p>You don't have the necessary permissions to access this resource. This could be because:</p>
        <ul>
            <li>The resource belongs to another user</li>
            <li>You need special permissions</li>
            <li>Your account doesn't have the required access level</li>
        </ul>
    </div>
{% endblock %}

{% block error_actions %}
<li><i class="fas fa-sign-in-alt text-primary me-2"></i><a href="/login">Log in with a different account</a></li>
<li><i class="fas fa-home text-primary me-2"></i><a href="/">Go to homepage</a></li>
<li><i class="fas fa-arrow-left text-primary me-2"></i><a href="javascript:history.back()">Go back</a></li>
{% endblock %}