{% extends "errors/base_error.html" %}

{% block error_color %}danger{% endblock %}

{% block error_title %}Service Error{% endblock %}

{% block error_heading %}Service Error{% endblock %}

{% block error_message %}
    {% if error and error.message %}
        {{ error.message }}
    {% else %}
        A service error occurred while processing your request.
    {% endif %}
{% endblock %}

{% block error_actions %}
<li><i class="fas fa-refresh text-primary me-2"></i><a href="javascript:location.reload()">Try again</a></li>
<li><i class="fas fa-arrow-left text-primary me-2"></i><a href="javascript:history.back()">Go back</a></li>
<li><i class="fas fa-home text-primary me-2"></i><a href="/">Go to homepage</a></li>
{% endblock %}