{% extends "layout.html" %}

{% block title %}
    Ingredients
{% endblock %}

{% block main %}
    <div class="container">
        <h2>Ingredients List</h2>
        <a href="/add_ingredient" class="btn btn-primary mb-3">Add Ingredient</a>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Name</th>
                <th>Quantity</th>
                <th>Unit</th>
                <th>Price</th>
                <th>Price per Unit</th>
                <th>Calories <small>(per 100g)</small></th>
                <th>Protein <small>(g)</small></th>
                <th>Carbs <small>(g)</small></th>
                <th>Fat <small>(g)</small></th>
                <th>Fiber <small>(g)</small></th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for ingredient in ingredients %}
                <tr>
                    <td>{{ ingredient.name }}</td>
                    <td>{{ ingredient.quantity }}</td>
                    <td>{{ ingredient.quantity_unit }}</td>
                    <td>{{ ingredient.price }}</td>
                    <td id="pricePerUnit{{ loop.index }}"
                        data-ingredient
                        data-quantity="{{ ingredient.quantity }}"
                        data-price="{{ ingredient.price }}"
                        data-unit="{{ ingredient.quantity_unit }}">
                        -
                    </td>
                    <td>{{ ingredient.calories or '-' }}</td>
                    <td>{{ ingredient.protein or '-' }}</td>
                    <td>{{ ingredient.carbohydrates or '-' }}</td>
                    <td>{{ ingredient.fat or '-' }}</td>
                    <td>{{ ingredient.fiber or '-' }}</td>
                    <td>
                        <form action="/delete_ingredient/{{ ingredient.id }}" method="post" class="delete-form">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <script src="/static/js/deleteConfirmation.js"></script>
    <script src="/static/js/priceCalculations.js"></script>
{% endblock %}
