{% extends "layout.html" %}

{% block title %}
Recipes
{% endblock %}

{% block main %}
<div class="container">
    <h2>Recipes List</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Instructions</th>
                <th>Total Price</th>
                <th>Ingredients</th>
            </tr>
        </thead>
        <tbody>
            {% for recipe in recipes %}
            <tr>
                <td>{{ recipe.name }}</td>
                <td>{{ recipe.instructions }}</td>
                <td>{{ recipe.total_price }}</td>
                <td>
                    <ul>
                        {% for ingredient in recipe.ingredients %}
                        <li>{{ ingredient.name }}: {{ ingredient.quantity }} {{ ingredient.unit }}</li>
                        {% endfor %}
                    </ul>
                </td>
                <td>
                    <form action="/delete_recipe/{{ recipe.id }}" method="post" class="delete-form">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
    <script src="/static/js/deleteConfirmation.js"></script>
{% endblock %}

